name: 'GitHub Actions'

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  tests:
    name: 'tests'
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '16'
        cache: 'npm'
    - run: npm ci
    - run: npm test

  prettier:
    name: 'prettier'
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '16'
          cache: 'npm'
      - run: npm ci
      - run: npm run fmt:check
